<div class="container">
  <mat-table #table [dataSource]="dataSource">
    <!-- ID Column -->
    <ng-container matColumnDef="tsID">
      <mat-header-cell *matHeaderCellDef> tsID </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.tsID}} </mat-cell>
    </ng-container>
    <!-- name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
  
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> email</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="validateEmail(element.email)">{{element.email}} </span>
        <span *ngIf="!(validateEmail(element.email))" style="background-color: #ff00006e;"> {{element.email}}</span>
      </mat-cell>
    </ng-container>
  
    <!-- gender Column -->
    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef> gender </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.gender =='male'" aria-hidden="false" aria-label="Male  icon">
          <img src="assets/images/male.png">
        </mat-icon>
        <mat-icon *ngIf="element.gender =='female'" aria-hidden="false" aria-label="Female icon">
          <img *ngIf="element.gender =='female' || 'Female' || 'FEMALE'" #noReplies src="assets/images/female.png">
        </mat-icon>
      </mat-cell>
    </ng-container>
  
    <!-- Location Column -->
    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef> location </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.location}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;let entry" [ngClass]="{ 'highlight': !(validateEmail(entry.email)) }"></mat-row>
  </mat-table>
</div>
